langchain
langchain-community
langchain-openai
fitz
pgvector
psycopg2-binary
sentence-transformers
pymupdf
rank-bm25
fastapi
uvicorn
python-dotenv
pandas
numpy
jupyter
ipykernel
transformers
torch
accelerate
pypdf
numpy